<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion à l'application notre livre, notre média</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Connexion à l'application notre livre, notre média</h1>

            {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                <p class="error">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'connexion' %}">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" required>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" required>
                <button type="submit">Se connecter</button>
            </form>

        </div>
    </div>

</body>
</html>